<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div id="navbar"></div>
    <script src="scripts.js"></script>

    <h1>Welcome, {{ user.username }}</h1>  <!-- Display user username -->
    <p>Here is your user information:</p>
    <ul>
        <li>Username: {{ user.username }}</li>
        <li>Email: {{ user.email }}</li>  <!-- Display email -->
    </ul>
    <a href="/logout">Logout</a>
</body>
</html>
